<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>UserRequest</servlet-name>
    <servlet-class>ccnt.zbp.dedup.client.utils.UserRequest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileRequest</servlet-name>
    <servlet-class>ccnt.zbp.dedup.client.utils.FileRequest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChunkRequest</servlet-name>
    <servlet-class>ccnt.zbp.dedup.client.utils.ChunkRequest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EdgeRequest</servlet-name>
    <servlet-class>ccnt.zbp.dedup.client.utils.EdgeRequest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OfflineRequest</servlet-name>
    <servlet-class>ccnt.zbp.dedup.client.utils.OfflineRequest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CacheRequest</servlet-name>
    <servlet-class>ccnt.zbp.dedup.client.utils.CacheRequest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MetaLRURequest</servlet-name>
    <servlet-class>ccnt.zbp.dedup.client.utils.MetaLRURequest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MetaRequest</servlet-name>
    <servlet-class>ccnt.zbp.dedup.client.utils.MetaRequest</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserRequest</servlet-name>
    <url-pattern>/user/request</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileRequest</servlet-name>
    <url-pattern>/file/request</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChunkRequest</servlet-name>
    <url-pattern>/chunk/request</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EdgeRequest</servlet-name>
    <url-pattern>/edge/request</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OfflineRequest</servlet-name>
    <url-pattern>/offline/request</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CacheRequest</servlet-name>
    <url-pattern>/cache/request</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MetaLRURequest</servlet-name>
    <url-pattern>/cache_metalru/request</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MetaRequest</servlet-name>
    <url-pattern>/meta/getmeta</url-pattern>
  </servlet-mapping>

</web-app>